body, :root, #app, .slide-wrapper {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

#app {
  background: antiquewhite;
}

.content-wrapper {
  width: 100vw;
  height: 100vh;
}

.slide-wrapper::-webkit-scrollbar {
  display: none;
}

.slide-wrapper {
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  -webkit-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.slide {
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  border-radius: 1rem;

  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 100vh;
}